# 집합 자료형

## 집합 자료형은 어떻게 만들까?

In [1]:
s1 = set(['Miyeon', 'Minnie', 'Soyeon']) # 집합은 set()에 리스트를 이용하여 만들 수 있다.
s1

{'Minnie', 'Miyeon', 'Soyeon'}

In [2]:
s2 = set('Yuqi') # 문자열을 입력하면 문자들을 분리하여 집합으로 만든다.
s2 # 집합은 중복을 허용하지 않고 순서가 없으므로 인덱싱을 지원하지 않는다.

{'Y', 'i', 'q', 'u'}

In [3]:
idle = set(['Miyeon', 'Minnie', 'Soyeon']) # 집합을 인덱싱하려면, 리스트나 튜플로 변환해야 한다.
list_idle = list(idle) # 리스트로 변환
list_idle # ['Miyeon', 'Minnie', 'Soyeon']
list_idle[0] # 'Miyeon'
tuple_idle = tuple(idle) # 튜플로 변환
tuple_idle # ('Miyeon', 'Minnie', 'Soyeon')
tuple_idle[0]

'Miyeon'

## 집합의 연산

In [4]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

### 교집합

In [5]:
s1 & s2 # 두 집합의 교집합을 반환한다.

{4, 5, 6}

In [6]:
s1.intersection(s2) # 마찬가지로 두 집합의 교집합을 반환한다.

{4, 5, 6}

### 합집합

In [7]:
s1 | s2 # 두 집합의 합집합을 반환한다.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
s1.union(s2) # 마찬가지로 두 집합의 합집합을 반환한다.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합

In [9]:
s1 - s2 # {1, 2, 3}, 두 집합의 차집합을 반환한다.
s2 - s1

{7, 8, 9}

In [10]:
s1.difference(s2) # {1, 2, 3}, 마찬가지로 두 집합의 차집합을 반환한다.
s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수

### 값 1개 추가하기 - add()

In [11]:
s1 = set([1, 2, 3])
s1.add(4) # 집합에 원소 추가하기
s1

{1, 2, 3, 4}

### 값 여러 개 추가하기 - update()

In [12]:
s1 = set([1, 2, 3])
s1.update([4, 5 ,6])
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기 - remove()

In [13]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}