# 문자열 자료형

## 문자열은 어떻게 만들고 사용할까?

### 큰따옴표

In [1]:
"Hello, World!"

'Hello, World!'

### 작은따옴표

In [2]:
'Python is fun!'

'Python is fun!'

### 큰따옴표 3개

In [3]:
"""Life is too short, You need python"""

'Life is too short, You need python'

### 작은따옴표 3개

In [4]:
'''Life is too short, You need python'''

'Life is too short, You need python'

## 문자열 안에 따옴표를 포함시키고 싶을 때

### 작은따옴표 포함

In [5]:
food = "Python's favorite food is perl"

In [6]:
food

"Python's favorite food is perl"

In [7]:
food = 'Python's favorite food is perl'
# 오류: 두 번째 작은따옴표까지를 하나의 문자열로 인식
# 두 번째 작은따옴표 이후로는 구문 오류

SyntaxError: unterminated string literal (detected at line 1) (3885361455.py, line 1)

### 큰따옴표 포함

In [8]:
say = '"Python is very easy." she said.'

### 역슬래시를 사용하여 포함하기

In [9]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" she said."

## 여러 줄인 문자열을 변수에 대입하고 싶을 때

### 이스케이프 코드 \n

In [10]:
multiline = "Life is too short,\nYou need python" # \n은 그 자체로 하나의 문자이므로, 이유가 없다면 주변과 띄어쓰지 않는다.

### 따옴표 3개

In [11]:
multiline = '''
Life is too short
You need python
''' # 작은따옴표

In [12]:
multiline = """
Life is too short
You need python"""

In [13]:
print(multiline)

Life is too short
You need python

## 문자열 연산하기

### 문자열의 덧셈

In [14]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

### 문자열의 곱셈

In [15]:
a = "Minnie"
a * 2

'MinnieMinnie'

### 문자열 길이 구하기

In [16]:
a = "Life is too short"
len(a) # len()는 입력받은 문자열의 공백을 포함한 길이를 반환한다.

17

In [17]:
# 1분 코딩 56p
a = "You need python"
len(a)

15

## 문자열 인덱싱과 슬라이싱

### 문자열 인덱싱

In [18]:
a = "Life is too short, You need python"
a[3] # 인덱스는 0부터 시작한다.

'e'

### 문자열 인덱싱의 활용

In [19]:
a = "Life is too short, You need Python"
a[0] # 'L'
a[12] # 's'
a[-1] # 음수 인덱스는 첫 번째 인덱스 0을 기준으로 거꾸로 셈을 의미한다.
# 따라서 인덱스 -1은 항상 문자열의 가장 마지막 문자를 가리킨다.

'n'

In [20]:
a[-0] # 0과 -0은 같다.

'L'

In [21]:
a[-2] # 'o'
a[-5]

'y'

### 문자열 슬라이싱

In [22]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3] # 인덱스를 활용한 문자 추출
b

'Life'

In [23]:
a = "Life is too short, You need Python"
a[0:4] # 슬라이싱, 0번 이상 4번 미만의 문자들을 문자열로 추출

'Life'

In [24]:
a[0:3] # 끝 번호는 포함하지 않는다.

'Lif'

### 문자열을 슬라이싱하는 방법

In [25]:
a[0:5] # 4번 인덱스에 해당하는 공백 문자가 함께 출력

'Life '

In [26]:
a[0:2] # 'Li'
a[5:7] # 'is'
a[12:17]

'short'

In [27]:
a[19:] # 끝 번호를 생략하면 시작 번호부터 끝까지 추출된다.

'You need Python'

In [28]:
a[:17] # 시작 번호를 생략하면 처음부터 끝 번호까지 추출된다.

'Life is too short'

In [29]:
a[:] # 시작 번호와 끝 번호가 모두 생략되면 문자열 전체가 추출된다.

'Life is too short, You need Python'

In [30]:
a[19:-7] # 인덱스에 음수를 사용할 수 있다. 이 때에도 a[-8]까지만 추출된다.

'You need'

### 슬라이싱으로 문자열 나누기

In [31]:
a = '20240704Cloudy'
date = a[:8]
weather = a[8:]
date # '20240704'
weather

'Cloudy'

In [32]:
a = '20240704Cloudy'
year = a[0:4]
day = a[4:8]
weather = a[8:]
year # '2024'
day # '0704'
weather

'Cloudy'

In [33]:
a = 'Pithon'
a[1] # 'i'
a[1] = 'y' # 오류: 문자열의 요소는 바꿀 수 없다. (immutable)

TypeError: 'str' object does not support item assignment

In [34]:
a = 'Pithon'
a[:1] # 'P'
a[2:] # 'thon'
a[:1] + 'y' + a[2:]

'Python'

## 문자열 포매팅

### 숫자 바로 대입

In [35]:
"I ate %d apples." %3 # 문자열 포맷 코드 %d에 숫자 3이 대입된다.

'I ate 3 apples.'

### 문자열 바로 대입

In [36]:
"I ate %s apples." %'five' # 문자열을 대입할 땐 %s를 쓴다.

'I ate five apples.'

### 숫자를 나타내는 변수를 대입

In [37]:
number = 3
"I ate %d apples." %number # 변수를 이용하여 대입할 수 있다.

'I ate 3 apples.'

### 2개 이상의 값 대입

In [38]:
number = 10
day = "three"
"I ate %d apples. So I was sick for %s days." %(number, day) # 여러 값을 대입할 땐 % 뒤에 순서에 맞추어 튜플을 사용한다.

'I ate 10 apples. So I was sick for three days.'

## 문자열 포맷 코드

In [39]:
"I have %s apples." %3 # 'I have 3 apples.'
"Rate is %s." %3.234
# %s는 받은 값을 자동으로 문자열로 변환하여 출력한다. 따라서 어떤 값이든 받을 수 있다.

'Rate is 3.234.'

In [40]:
"Error is %d%" %98
# 오류: 포맷 코드가 문자열 내에 존재할 때, %가 단독으로 쓰이면 오류가 발생한다.
# 포맷 코드가 없을 경우에는 %가 단독으로 쓰일 수 있다.

ValueError: incomplete format

In [41]:
"Error is %d%%." %98 # 포맷 코드와 %를 동시에 문자열에 쓸 때에는 %%로 적어야 한다.

'Error is 98%.'

## 포맷 코드와 숫자 함께 사용하기

### 정렬과 공백

In [42]:
"%10s" %'Minnie' # 10자리 문자열 공간의 오른쪽에 정렬하여 대입

'    Minnie'

In [43]:
"%-10sMinnie" %'Hi' # 10자리 문자열 공간의 왼쪽에 정렬하여 대입

'Hi        Minnie'

### 소숫점 표현하기

In [44]:
"%0.4f" %3.14159265 # 길이에 상관없이(0) 소수점 이하 4번째 자리까지(.4) 반올림하여 대입

'3.1416'

In [45]:
"%10.4f" %3.14159265 # 10자리 문자열 공간의 오른쪽에 소수점 이하 4번째 자리까지 반올림하여 대입

'    3.1416'

## format 함수를 사용한 포맷팅

### 숫자 바로 대입

In [46]:
"I ate {0} apples.".format(3)

'I ate 3 apples.'

### 문자열 바로 대입

In [47]:
"I ate {0} apples.".format("five")

'I ate five apples.'

### 숫자를 나타내는 변수를 대입

In [48]:
number = 3
"I ate {0} apples.".format(number)

'I ate 3 apples.'

### 2개 이상의 값 대입

In [49]:
number = 10
day = 'three'
"I ate {0} apples. So I was sick for {1} days.".format(number, day) # {} 안의 숫자는 인덱스

'I ate 10 apples. So I was sick for three days.'

### 이름으로 대입

In [50]:
"I ate {number} apples. So I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

### 인덱스와 이름 혼용

In [51]:
"I ate {0} apples. So I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

### 왼쪽 정렬

In [52]:
"{0:<10}".format("Minnie") # 0: 인덱스, <: 왼쪽으로 정렬, 10: 10칸의 문자열 공간

'Minnie    '

### 오른쪽 정렬

In [53]:
"{0:>10}".format("Minnie")

'    Minnie'

### 가운데 정렬

In [54]:
"{0:^10}".format("gidle")
# 가운데 정렬 시, 전체 칸 수와 대입하는 문자열의 칸 수가 맞지 않으면 왼쪽을 우선하여 채운다.

'  gidle   '

### 공백 채우기

In [55]:
"{0:=^10}".format("Minnie") # '==Minnie==', =: 공백을 '='로 채움
"{0:!<10}".format("Minnie")

'Minnie!!!!'

### 소수점 표현하기

In [56]:
y = 3.14159265
"{0:0.4f}".format(y) # 0: 인덱스, 0: 자리에 상관 없이, .4f: 실수를 소수점 이하 4번째 자리까지 반올림하여 대입

'3.1416'

In [57]:
"{0:10.4f}".format(y) # 10: 10칸 문자열 공간의 오른쪽

'    3.1416'

### { 또는 } 표현하기

In [58]:
"{{Minnie}}".format()

'{Minnie}'

## f 문자열 포매팅

In [59]:
name = 'Minnie'
age = 28
f"My name is {name}. I'm {age} years old." # 문자열 앞에 f를 사용하여 포매팅 가능

"My name is Minnie. I'm 28 years old."

In [60]:
age = 28
f"Soyeon is {age-1} years old." # f 문자열 포매팅은 표현식 지원

'Soyeon is 27 years old.'

In [61]:
minnie = {'name': 'Minnie', 'age': 28} # 딕셔너리 {Minnie} 정의
f"My name is {minnie['name']}. I'm {minnie['age']} years old." # 딕셔너리 {Minnie} 내의 각각의 항목에 대응하는 값 대입

"My name is Minnie. I'm 28 years old."

In [62]:
f"{'Minnie':<10}" # 'Minnie    ', 왼쪽 정렬
f"{'Minnie':>10}" # '    Minnie', 오른쪽 정렬
f"{'Minnie':^10}" # 가운데 정렬

'  Minnie  '

In [63]:
f"{'Minnie':=^10}" # '==Minnie==', 공백 채우기
f"{'Minnie':!<10}"

'Minnie!!!!'

In [64]:
y = 3.14159265
f'{y:0.4f}' # '3.1416', 소수점 표현
f'{y:10.4f}'

'    3.1416'

In [65]:
f'{{Minnie}}' # { 또는 } 사용

'{Minnie}'

In [66]:
# 1분 코딩 72p
python = 'python'
print('{0:!^12}'.format(python))
print(f'{python:!^12}')

!!!python!!!
!!!python!!!

## 문자열 관련 함수들

### 문자 개수 세기 - count()

In [67]:
minnie = 'Minnie'
minnie.count('n') # count(): 입력받은 문자의 개수를 반환

2

### 위치 알려주기 - find()

In [68]:
python = "Python is the best choice."
python.find('b') # 14, find(): 입력받은 문자가 처음으로 나온 위치의 인덱스 반환
python.find('k') # 입력받은 문자가 없는 경우 -1 반환

-1

### 위치 알려주기 - index()

In [69]:
life = "Life is too short."
life.index('t') # 8, index(): 입력받은 문자가 처음으로 나온 위치의 인덱스 반환
life.index('k') # 오류: index() 함수는 입력받은 문자가 없으면 오류가 발생

ValueError: substring not found

### 문자열 삽입 - join()

In [70]:
','.join('Minnie') # 문자열 'Minnie'의 각 문자 사이에 ',' 삽입

'M,i,n,n,i,e'

In [71]:
','.join(['M', 'i', 'n', 'n', 'i', 'e']) # 리스트나 튜플도 입력받을 수 있다.

'M,i,n,n,i,e'

### 소문자를 대문자로 바꾸기 - upper()

In [72]:
minnie = 'Minnie'
minnie.upper()

'MINNIE'

### 대문자를 소문자로 바꾸기 - lower()

In [73]:
minnie = 'mINNIE'
minnie.lower()

'minnie'

### 왼쪽 공백 지우기 - lstrip()

In [74]:
minnie = '  Minnie  '
minnie.lstrip() # 공백 문자가 여러 개 연속으로 있을 경우 전부 지운다.

'Minnie  '

### 오른쪽 공백 지우기 - rstrip()

In [75]:
minnie = '  Minnie  '
minnie.rstrip()

'  Minnie'

### 양쪽 공백 지우기 - strip()

In [76]:
minnie = '  Minnie  '
minnie.strip()

'Minnie'

### 문자열 바꾸기 - replace()

In [77]:
life = "Life is too short."
life.replace('Life', 'Soyeon') # 문자열 {life} 내의 'Life'를 'Soyeon'으로 치환

'Soyeon is too short.'

### 문자열 나누기 - split()

In [78]:
life = 'Life is too short.'
life.split() # ['Life', 'is', 'too', 'short.'], 공백을 기준으로 문자열을 나누어 리스트로 반환
minnie = "M,i,n,n,i,e"
minnie.split(',') # 입력받은 ','를 기준으로 문자열을 나누어 리스트로 반환

['M', 'i', 'n', 'n', 'i', 'e']

## 주의!

In [79]:
minnie = 'Minnie'
minnie.upper() # upper() 함수는 {minnie}를 대문자로 바꾸지 않고 단지 바꾼 값을 반환할 뿐이다.

'MINNIE'

In [80]:
minnie # {minnie}를 출력해보면, upper() 함수의 영향을 받지 않고 처음 대입된 값이 그대로 반환된다.

'Minnie'

In [81]:
minnie = minnie.upper() # {minnie}를 대문자로 바꾸고 변수 {minnie}에 대입
minnie # 값이 바뀌었다.

'MINNIE'