# 딕셔너리 자료형

## 딕셔너리는 어떻게 만들까?

In [1]:
minnie = {'name': "Nicha Yontararak", 'age': 28, 'birth': 1023} # 각 요소들의 왼쪽은 키(key), 오른쪽은 값(value)이라 한다.

In [2]:
minnieBirth = {23: 'October'} # 키에도 숫자가 올 수 있다.

In [3]:
idle = {'member': ['Miyeon', 'Minnie', 'Soyeon', 'Yuqi', 'Shuhua']} # 값에 리스트가 올 수 있다.

## 딕셔너리 쌍 추가, 삭제

### 딕셔너리 쌍 추가

In [4]:
a = {1: 'a'}
a[2] = 'b' # 딕셔너리의 마지막에 {2: 'b'} 쌍 추가
a

{1: 'a', 2: 'b'}

In [5]:
a['name'] = 'Minnie'
a

{1: 'a', 2: 'b', 'name': 'Minnie'}

In [6]:
a['Young'] = ['Yuqi', 'Shuhua']
a

{1: 'a', 2: 'b', 'name': 'Minnie', 'Young': ['Yuqi', 'Shuhua']}

### 딕셔너리 쌍 삭제

In [7]:
del a[1] # 키가 1인 딕셔너리 쌍 삭제
a

{2: 'b', 'name': 'Minnie', 'Young': ['Yuqi', 'Shuhua']}

## 딕셔너리의 활용

### 키를 사용해 값 얻기

In [8]:
ssawadeehao = {'Minnie': 'Thai', 'Yuqi': 'China', 'Shuhua': 'Taiwan'}
ssawadeehao['Minnie'] # 'Thai', 키가 'Minnie'인 값을 반환
ssawadeehao['Yuqi']

'China'

In [9]:
Nihao = {1: 'Yuqi', 2: 'Shuhua'}
Nihao[1] # 'Yuqi'
Nihao[2] # 여기서 1, 2는 인덱스가 아니라 키에 해당한다. 딕셔너리는 인덱싱, 슬라이싱이란 개념이 없다.

'Shuhua'

In [10]:
Nihao = {'Yuqi': 1, 'Shuhua': 2}
Nihao['Yuqi'] # 딕셔너리에 인덱싱이 없음을 보여준다.
# 'Yuqi'는 인덱스가 아닌 키 값에 해당하는 문자열이다.

1

In [11]:
minnie = {'name': 'Nicha Yontararak', 'Chueren': 'Minnie', 'birth': 19971023, 'height': 167.1}
minnie['name'] # 'Nicha Yontararak'
minnie['Chueren'] # 'Minnie'
minnie

{'name': 'Nicha Yontararak',
 'Chueren': 'Minnie',
 'birth': 19971023,
 'height': 167.1}

### 딕셔너리를 만들 때 주의할 사항

In [12]:
a = {1: 'Miyeon', 1: 'Minnie', 2: 'Soyeon'} # 딕셔너리에서 키는 고유한 값이다.
a # 동일한 키가 있을 경우 가장 뒤의 키를 제외하고는 무시한다.

{1: 'Minnie', 2: 'Soyeon'}

In [13]:
a = {[1, 2]: ['Miyeon', 'Minnie']} # 키에 리스트가 올 수 없다.
# 정확히는, 키에는 변할 수 있는 값이 올 수 없다. 따라서 키로 튜플을 사용할 수 있다.

TypeError: unhashable type: 'list'

## 딕셔너리 관련 함수

### 키 리스트 만들기 - keys()

In [14]:
minnie = {'name': 'Nicha Yontararak', 'Chueren': 'Minnie', 'birth': 19971023, 'height': 167.1}
minnie.keys() # 반환한 값은 리스트가 아닌 dict_keys라는 객체이다.

dict_keys(['name', 'Chueren', 'birth', 'height'])

In [15]:
for key in minnie.keys():
    print(key)
# dict_keys는 리스트처럼 사용할 수 있으나,
# 리스트 관련 함수인 append(), insert(), pop(), remove(), sort() 등은 사용할 수 없다.

name
Chueren
birth
height

In [16]:
list(minnie.keys())
# dict_keys 객체는 리스트로 바꿀 수 있다.

['name', 'Chueren', 'birth', 'height']

### 값들의 리스트 만들기 - values()

In [17]:
minnie.values() # keys()와 마찬가지로 dict_values 객체를 반환한다.

dict_values(['Nicha Yontararak', 'Minnie', 19971023, 167.1])

### 키, 값 쌍 얻기 - items()

In [18]:
minnie.items()
# 키와 값으로 구성된 튜플을 묶어서 dict_items 객체로 반환한다.

dict_items([('name', 'Nicha Yontararak'), ('Chueren', 'Minnie'), ('birth', 19971023), ('height', 167.1)])

### 딕셔너리 비우기 - clear()

In [19]:
minnie.clear()
minnie # 빈 딕셔너리가 출력

{}

### key로 값 얻기 - get()

In [20]:
minnie = {'name': 'Nicha Yontararak', 'Chueren': 'Minnie', 'birth': 19971023, 'height': 167.1}
minnie.get('name') # 'Nicha Yontararak'
minnie.get('Chueren') # minnie['Chueren']과 같은 기능을 한다.

'Minnie'

In [21]:
print(minnie.get('nokey')) # get() 함수로 없는 키를 입력받으면 None을 반환한다.
print(minnie['nokey']) # 딕셔너리에서 직접 없는 키를 입력하면 오류가 발생한다.

None

KeyError: 'nokey'

In [22]:
minnie.get('nokey', 'cute') # get()으로 없는 키에 대한 디폴트 값도 설정할 수 있다.
# 딕셔너리 내부에 키 'nokey'는 없지만 지정한 디폴트인 'cute'를 반환하였다.

'cute'

### 딕셔너리 내 키의 존재 확인 - in

In [23]:
minnie = {'name': 'Nicha Yontararak', 'Chueren': 'Minnie', 'birth': 19971023, 'height': 167.1}
'name' in minnie # True
'phone' in minnie

False

In [24]:
# 1분 코딩 101p
gildong = {'name': 'Hong Gildong', 'birth': 1128, 'age': 30}